<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"> 
    
    <import resource="config.xml"/>
    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="locations" value="classpath:app.properties"/>
	</bean>
	
	<!-- #####	APP 上下文	##### -->
	<bean id="AppContext" class="ecommerce.eAlgorithm12.AppContext">
		<property name="typeOfPatterns">
			<array>
				
				<ref bean="PatternPositive4"/>
				<ref bean="PatternNegtive4"/>
				
				<!-- <ref bean="PatternPositive5"/>
				<ref bean="PatternNegtive5"/> -->
				
			</array>
		</property>
		<property name="resultRowType" value="ecommerce.eAlgorithm12.ResultRowSkip"/>
		<property name="swapType" value="XX"/><!-- XX | XX-Once -->
		<property name="destinationFolder" value="/home/martin/"/>
		<property name="countOfX" value="5"/>
		<property name="sum" value="-57"/>
		<property name="expectType" value="POSITIVE"/><!-- "POSITIVE" | "NEGTIVE" -->
		<property name="elementBuilders">
			<array>
        		<bean class="ecommerce.eAlgorithm12.element.Element5Builder"/>
        		<bean class="ecommerce.eAlgorithm12.element.Element4Builder"/>
        	</array>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.FileAccess.setDestFolder"/>
        <property name="arguments">
        	<bean factory-bean="AppContext" factory-method="getDestinationFolder"/>
        </property>
    </bean>
    
    <!-- SourceRow -->
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.SourceRow.setRowLimit"/>
        <property name="arguments">
        	<bean id="rowLimit" class="ecommerce.base.sourcerow.UnLimitRow"/>
        </property>
    </bean>
    
    <!-- SourceRow -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.SourceRow.setTypeOfResultRow"/>
        <property name="arguments">
        	<bean factory-bean="AppContext" factory-method="getResultRowType"/>
        </property>
    </bean>
    
    <!-- ResultRowNonSkip2 -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.ResultRowNonSkip2.setElementBuilder"/>
        <property name="arguments">
        	<bean factory-bean="AppContext" factory-method="getElementBuilders"/>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.ResultRowNonSkip2.setSwap"/>
        <property name="arguments">
        	<bean factory-bean="AppContext" factory-method="getSwap"/>
        </property>
    </bean>
    
    <!-- ResultRowNonSkip -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.ResultRowNonSkip.setElementBuilder"/>
        <property name="arguments">
        	<bean factory-bean="AppContext" factory-method="getElementBuilders"/>
        </property>
    </bean>
    <!-- ResultRowNonSkip -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.ResultRowNonSkip.setSwap"/>
        <property name="arguments">
        	<bean factory-bean="AppContext" factory-method="getSwap"/>
        </property>
    </bean>
    
    <!-- ResultRowSkip -->
    <!-- 
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.ResultRowSkip.setElementBuilder"/>
        <property name="arguments">
        	<bean factory-bean="AppContext" factory-method="getElementBuilders"/>
        </property>
    </bean>
    -->
    <!-- ResultRowSkip -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.ResultRowSkip.setSwap"/>
        <property name="arguments">
        	<bean factory-bean="AppContext" factory-method="getSwap"/>
        </property>
    </bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="ecommerce.eAlgorithm12.ResultRowSkip.setStop"/>
        <property name="arguments">
        	<ref bean="stop4resultrow"/>
        </property>
    </bean>
    
    	
    <!-- TrueAndFalse 运算何时回第一位开始运算 -->
    <bean id="next" class="ecommerce.patterns.trueandfalse.GoNext"/>
    <!-- <bean id="next" class="ecommerce.patterns.trueandfalse.GoNextOR">
    	<property name="goNext">
    		<array>
    			<bean class="ecommerce.patterns.trueandfalse.gonext.GoNext1"/>match oo
    			<bean class="ecommerce.patterns.trueandfalse.gonext.GoNext4"/>match oxo
    			<bean class="ecommerce.patterns.trueandfalse.gonext.GoNextByProcess">
    				<property name="metaPosition" value="0"/>
    				<property name="target" value="-1,-2,+3"/>
    			</bean>
    			<bean class="ecommerce.patterns.trueandfalse.gonext.GoNextByProcess">
    				<property name="metaPosition" value="1"/>
    				<property name="target" value="-1,-2,-3,+5"/>
    			</bean>
    			<bean class="ecommerce.patterns.trueandfalse.gonext.GoNextByProcess">
    				<property name="metaPosition" value="2"/>
    				<property name="target" value="-1,-2,-3,-5,+8"/>
    			</bean>
    			<bean class="ecommerce.patterns.trueandfalse.gonext.GoNextByProcess">
    				<property name="metaPosition" value="3"/>
    				<property name="target" value="-1,-2,-3,-5,-8,+13"/>
    			</bean>
    		</array>
    	</property>
    </bean> -->
    
    <!-- TrueAndFalse 运算何时终止？ -->
    <!-- <bean id="stop" class="ecommerce.patterns.trueandfalse.DoNotStop"/> -->
    <bean id="stop" class="ecommerce.patterns.trueandfalse.StopOR">
    	<property name="stops">
    		<array>
    			<bean class="ecommerce.patterns.trueandfalse.stop.StopWhileTrue"/>
    			<bean class="ecommerce.patterns.trueandfalse.stop.StopWhileNX">
    				<property name="n">
    					<bean factory-bean="AppContext" factory-method="getCountOfX"/>
    				</property>
    			</bean>
    		</array>
    	</property>
    </bean>
    
    <!-- TrueAndFalse 运算何时终止？ -->
    <bean id="stop4resultrow" class="ecommerce.patterns.resultrow.stop.StopOR">
    	<property name="stops">
    		<array>
    			<bean class="ecommerce.patterns.resultrow.stop.StopWhileTrue"/>
    			<bean class="ecommerce.patterns.resultrow.stop.StopWhileNX">
    				<property name="n">
    					<bean factory-bean="AppContext" factory-method="getCountOfX"/>
    				</property>
    			</bean>
    		</array>
    	</property>
    </bean>
    
    <bean id="trueAndFalse" class="ecommerce.eAlgorithm12.TrueAndFalse">
    	<property name="stop" ref="stop"/>
    	<property name="goNext" ref="next"/>
    </bean>
</beans>